<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SSM Demo</title>
    <script src="./jquery-3.3.1.min.js"></script>
    <script src="./vue.min.js"></script>
    <script src="./vue-resource.min.js"></script>
    <script src="./element-ui/lib/index.js"></script>
    <link rel="stylesheet" href="./element-ui/lib/theme-chalk/index.css"/>

    <link rel="icon" type="image/ico" href="./favicon.ico">
</head>
<body>
<div id="login" style="text-align: center;">
</div>
<script>
</script>

<style>
    a {
        color: #409EFF;
        cursor: pointer;
        text-decoration-line: underline;
    }
</style>
</body>
</html>
